---
layout: layouts/base.njk
title: Home
---

{% include "partials/nav.njk" %}
{% include "partials/hero.njk" %}
{% include "partials/projects.njk" %}
{% include "partials/caseStudies.njk" %}
{% include "partials/testimonial.njk" %}
{% include "partials/about.njk" %}
{% include "partials/experience.njk" %}
{% include "partials/skills.njk" %}
{% include "partials/certifications.njk" %}
{% include "partials/currentlyBuilding.njk" %}
{% include "partials/contact.njk" %}
{% include "partials/footer.njk" %}
