---
layout: layouts/base.njk
title: Home
---

{% include "partials/nav.njk" %}
{% include "partials/hero.njk" %}
{% include "partials/quote.njk" %}
{% include "partials/projects.njk" %}
{% include "partials/skills.njk" %}
{% include "partials/about.njk" %}
{% include "partials/experience.njk" %}
{% include "partials/certifications.njk" %}
{% include "partials/contact.njk" %}
<footer class="site-footer site-footer-minimal">
  <div class="footer-bottom">
    <p class="footer-copy">© {{ site.year }}. Made by {{ site.name }}.</p>
  </div>
</footer>
