<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if baseUrl %}<base href="{{ baseUrl }}/">{% endif %}
  <title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon-32x32.png" type="image/png" sizes="32x32">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png" sizes="180x180">
</head>
<body>
  {% block content %}{% endblock %}
  <script src="js/main.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
